@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Roboto+Condensed:ital@1&display=swap');
*{
    font-family: 'Climate Crisis', sans-serif;
    
}

    .active{
        background-color: rgba(59, 59, 63, 0.599);
        
    }
    .slider {
        position: relative;
        height: 50vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 150px;
      }
      
      .image {
        width: 100%;
        height: 600px;
        border-radius: 10px;
      }
      
      .right-arrow {
        position: absolute;
        top: 50%;
        right: 20%;
        font-size: 3rem;
        color: #000;
        z-index: 10;
        cursor: pointer;
        user-select: none;
      }
      
      .left-arrow {
        position: absolute;
        top: 50%;
        left: 20%;
        font-size: 3rem;
        color: #000;
        z-index: 10;
        cursor: pointer;
        user-select: none;
      }
      
      .slide {
        opacity: 0;
        transition-duration: 1s ease;
      }
      
      .slide.active {
        opacity: 1;
        transition-duration: 1s;
        transform: scale(1.08);
      }
      
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      .main-container {
        display: flex;
      }
      main {
        padding: 10px;
      }
      
      .title {
        font-size: 3rem;
        display: grid;
        place-items: center;
      }
      
      /* Sidebar */
      .sidebar {
        background: rgb(0, 7, 61);
        color: white;
        height: 100vh;
        overflow-y: auto;
      }
      
      .top_section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 10px;
      }
      .logo {
        font-size: 18px;
        line-height: 0;
      }
      .bars {
        width: 30px;
      }
      .hide {
        display: none;
      }
      
      .search {
        display: flex;
        align-items: center;
        margin: 10px 0;
        height: 30px;
        padding: 10px;
      }
      .search input {
        border: none;
        margin-left: 10px;
        border-radius: 5px;
        background: rgb(238, 238, 238);
      
        color: white;
      }
      
      
      
      .active {
        background: rgb(39, 42, 60);
      }
      .active:hover {
        background: rgb(86, 91, 123);
      }
      